* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.section {
  padding: 45px 80px;
  max-width: 900px;
  margin: 0 auto;
  opacity: 0;
  margin-top: 30px;
}

.section h2 {
  font-size: 2rem;
  margin-bottom: 20px;
  color: #ff6ec5;
}

.section p,
.section li {
  font-size: 1rem;
  line-height: 1.6;
}

.skills-list {
  list-style: square;
  padding-left: 20px;
}


a {
  color: #7072e4;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

body {
  font-family: sans-serif;
  background: #0f0f1c;
  color: white;
}
.carousel {
  position: relative;
  width: 750px;
  overflow: hidden;
  margin: 50px auto;
  border-radius: 10px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.5);
}

.carousel-track {
  display: flex;
  width: max-content;
}

.carousel-image {
  width: auto;
  height: 100px;
  object-fit: cover;
  flex-shrink: 0;
}
.nv {
  background-color: #222257;
  position: fixed;
  top: 0;
  width: 100%;
  height: auto;
  padding: 1rem 2rem;
  z-index: 9999;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
  
}


.nv a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 10px 16px;
  text-decoration: none;
  font-size: 17px;
}

.nv a:hover {
  background: #222257;
  color: black;
}
.project {
  margin-bottom: 30px;
}
.mtest{
  margin-top: 30px;
}